.navbar-item {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-shadow: -0.2rem -0.2rem 1rem var(--white),
    0.2rem 0.2rem 1rem var(--white), 0 0 6rem var(--neon-color);
}
.navbar-item:hover {
  text-shadow: 0 0 0.2rem var(--white), 0 0 0.3rem var(--hover-neon-color);
}
