@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables.css";

* {
  user-select: none;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--bg-dark);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 0, 0.852);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--bg-dark);
}

body {
  color: var(--white);
  background: var(--background);
  letter-spacing: 0.2rem;
  font-family: Arial, Helvetica, sans-serif;
  @apply antialiased
  flex
  flex-col
  min-h-screen;
  overflow-x: hidden;
}

body .header {
  width: 100%;
  background: linear-gradient(
    to right,
    var(--bg-dark),
    var(--bg-gray),
    var(--bg-dark)
  );
}

body main {
  @apply flex 
  flex-col 
  items-center 
  gap-8
  min-h-screen
  justify-center
  w-full 
  bg-gradient-to-r
  from-[var(--bg-dark)] via-[var(--bg-gray)]
  to-[var(--bg-dark)];
}

body footer {
  @apply row-start-3
  flex
  flex-wrap
  items-center
  justify-center
  gap-6
  text-center
  p-4
  text-[var(--white)]
  bg-gradient-to-r
  from-[var(--bg-dark)] via-[var(--bg-gray)]
  to-[var(--bg-dark)];
}

@layer components {
  .vertical-center {
    height: calc(100vh - 64px);
  }

  .page-size-box {
    @apply cursor-pointer border-2 hover:bg-gray-100 
        flex items-center justify-center rounded-lg 
        shadow-sm min-w-[36px] w-9 h-9 text-sm;
  }
}

.box-shadow-neon {
  @apply shadow-lg;
  position: relative;
  border: 1px solid var(--section-border);
  box-shadow: 0 0 10px var(--neon-color), 0 0 20px var(--neon-color),
    0 0 30px var(--neon-color);
}

.select-label label {
  color: var(--gray);
  white-space: nowrap;
  font-size: 0.7rem;
}
