@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply antialiased;
}

.wrapper-base {
  @apply grid;
  @apply min-h-screen;
  @apply grid-rows-[20px_1fr_20px];
  @apply items-center;
  @apply justify-items-center;
  @apply gap-16;
  @apply p-8;
  @apply pb-20;
  @apply sm:p-20;
  @apply font-[family-name:var(--font-geist-sans)];
}
.wrapper-base main {
  @apply row-start-2;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply gap-8;
  @apply sm:items-start;
}

.wrapper-base footer {
  @apply row-start-3;
  @apply flex;
  @apply flex-wrap;
  @apply items-center;
  @apply justify-center;
  @apply gap-6;
}
